---
subject: My Momo Email Template Subject
---

<container>
  <row class="collapse">
    <columns>
      <center>
        <img src="https://static.mservice.io/blogscontents/momo-upload-api-header-190419161113.jpg"
          alt="image of clever meme that made me chuckle">
      </center>
    </columns>
  </row>
</container>

<container>

  <row>

    <columns>
      <table>
        <tr>
          <td style="width: 28px; padding-right: 10px; vertical-align: middle">

            <img src="https://static.mservice.io/blogscontents/momo-upload-api-header-icon-190419162937.jpg"
              style="width: 28px;" alt="">

          </td>
          <td style="vertical-align: middle; width: 100px;">
            <div class="email-title">TIÊU ĐIỂM</div>
          </td>

          <td colspan="2" style="    vertical-align: bottom;
              padding-bottom: 9px;">
            <div class="email-title-border"></div>
          </td>

        </tr>

      </table>
    </columns>
  </row>


</container>

<container>
  <row>
    <columns>
      <center>
        <img src="https://static.mservice.io/blogscontents/momo-upload-api-banner-190419165300.jpg"
          alt="image of clever meme that made me chuckle">
      </center>
    </columns>
  </row>
  <row>
    <columns>
      <a href="https://momo.vn/">

        <h4 class="blog-title">XEM PHIM CUỐI TUẦN CHỈ 79K/VÉ CGV, GIA HẠN ĐẾN 30/6/2019</h4>
        <p class="blog-info">Tin vui cho các fan điện ảnh đây: MoMo gia hạn ưu đãi xem phim CGV cuối tuần chỉ với
          79.000đ/vé 2D đến hết 30/6/2019. Tha hồ "quẩy" sập làng chiếu trong mùa bom tấn sắp tới! Còn chờ gì mà không
          book vé ngay!</p>

        <div class="viewmore">
          Xem thêm >>
        </div>

      </a>

    </columns>
  </row>



</container>



<container>
  <row>

    <columns>

      <row bgcolor="f2c7d9" border="0" cellpadding="0" cellspacing="0"
        style="mso-table-lspace:0pt; mso-table-rspace:0pt; margin: 0 auto; " class="row-middle" width="100% "
        align="center">

        <columns small="12" large="4" style="padding-bottom: 0;">
          <img class="small-float-center feature-img"
            src="https://static.mservice.io/blogscontents/momo-upload-api-adayroi-190423113150.jpg" alt="">
        </columns>

        <columns small="12" large="8" style="padding-bottom: 0">
          <div class="feature-content">
            <h3 class="feature-title">CÓ VÍ MOMO – CHẠM TAY, BAY NGAY!</h3>
            <div class="blog-info">
              Chỉ cần nhập nơi đi, nơi đến, thời gian, số lượng: Tất cả thông tin chuyến bay phù hợp và giá vé sẽ hiển
              thị ngay trên MoMo cho bạn lựa chọn. Chỉ cần 1 cú chạm tay, đặt vé máy bay ngay trên điện thoại. Tại sao
              không?
            </div>
          </div>

          <div class="viewmore" style="padding: 0 15px 5px 0">
            Xem thêm >>
          </div>
        </columns>
      </row>

      <spacer size="16"></spacer>
      <row>

        <columns>

          <row bgcolor="f2c7d9" border="0" cellpadding="0" cellspacing="0"
            style="mso-table-lspace:0pt; mso-table-rspace:0pt; margin: 0 auto; " width="100%" class="row-middle"
            align="center">
            <columns small="12" large="4" style="padding-bottom: 0;">
              <img class="small-float-center feature-img"
                src="https://static.mservice.io/blogscontents/momo-upload-api-gtbb-newsletter-190423113214.jpg" alt="">
            </columns>
            <columns small="12" large="8" style="padding-bottom: 0">
              <div class="feature-content">
                <h3 class="feature-title">GIẢM 50.000Đ CHO ĐƠN HÀNG 600.000Đ KHI MUA SẮM TẠI ADAYROI</h3>
                <div class="blog-info">
                  Từ nay đến hết ngày 20/05/2019, tất cả các khách hàng cá nhân có Ví MoMo đã liên kết tài khoản ngân
                  hàng đều có cơ hội nhận được thẻ quà tặng 50.000 đồng mua sắm tại website/app ADAYROI với đơn hàng từ
                  600.000 đồng trở lên.
                </div>
              </div>

              <div class="viewmore" style="padding: 0 15px 5px 0">
                Xem thêm >>
              </div>
            </columns>
          </row>

        </columns>

      </row>


      <spacer size="16"></spacer>
      <row>

        <columns>

          <row bgcolor="f2c7d9" border="0" cellpadding="0" cellspacing="0"
            style="mso-table-lspace:0pt; mso-table-rspace:0pt; margin: 0 auto; " width="100%" class="row-middle"
            align="center">
            <columns small="12" large="4" style="padding-bottom: 0;">
              <img class="small-float-center feature-img"
                src="https://static.mservice.io/blogscontents/momo-upload-api-ve%20may%20bay-190423113245.jpg" alt="">
            </columns>
            <columns small="12" large="8" style="padding-bottom: 0">
              <div class="feature-content">
                <h3 class="feature-title">GIẢM 50.000Đ CHO ĐƠN HÀNG 600.000Đ KHI MUA SẮM TẠI ADAYROI</h3>
                <div class="blog-info">
                  Từ nay đến hết ngày 20/05/2019, tất cả các khách hàng cá nhân có Ví MoMo đã liên kết tài khoản ngân
                  hàng đều có cơ hội nhận được thẻ quà tặng 50.000 đồng mua sắm tại website/app ADAYROI với đơn hàng từ
                  600.000 đồng trở lên.
                </div>
              </div>

              <div class="viewmore" style="padding: 0 15px 5px 0">
                Xem thêm >>
              </div>
            </columns>
          </row>

        </columns>

      </row>

</container>

<container>

  <row>

    <columns>
      <table>
        <tr>
          <td style="width: 28px; padding-right: 10px; vertical-align: middle">

            <img src="https://static.mservice.io/blogscontents/momo-upload-api-header-icon-190419162937.jpg"
              style="width: 28px;" alt="">

          </td>
          <td style="vertical-align: middle; width: 130px;">
            <div class="email-title">ƯU ĐÃI HOT</div>
          </td>

          <td colspan="2" style="    vertical-align: bottom;
                  padding-bottom: 9px;">
            <div class="email-title-border"></div>
          </td>

        </tr>

      </table>


      <spacer size="8"></spacer>
      <p class="blog-info">Chỉ từ 5 - 20 điểm thưởng, bạn sẽ đổi được hàng trăm deal hot từ các đối tác của MoMo.
        Rinh ngay deal bằng cách: Vào <strong>Ưu Đãi >> Chọn danh mục tương ứng >> Chọn deal >> Bấm "Đổi quà"</strong>
        Hoặc click banner bên dưới để tham gia!</p>
    </columns>
  </row>


</container>


<container>
  <row>
    <columns small="6" large="6"><img
        src="https://static.mservice.io/blogscontents/momo-upload-api-gift1-190419173317.jpg" class="small-float-center"
        alt=""></columns>

    <columns small="6" large="6"><img
        src="https://static.mservice.io/blogscontents/momo-upload-api-gift2-190419173349.jpg" class="small-float-center"
        alt=""></columns>


  </row>


  <row>


    <columns small="6" large="6"><img
        src="https://static.mservice.io/blogscontents/momo-upload-api-gift3-190419173405.jpg" class="small-float-center"
        alt=""></columns>

    <columns small="6" large="6"><img
        src="https://static.mservice.io/blogscontents/momo-upload-api-gift4-190419173424.jpg" class="small-float-center"
        alt=""></columns>

  </row>
</container>



<container>

  <row>

    <columns>
      <spacer size="15"></spacer>

      <table>
        <tr>
          <td style="width: 28px; padding-right: 10px; vertical-align: middle">

            <img src="https://static.mservice.io/blogscontents/momo-upload-api-header-icon-190419162937.jpg"
              style="width: 28px;" alt="">

          </td>
          <td style="vertical-align: middle; width: 130px;">
            <div class="email-title">DỊCH VỤ MỚI</div>
          </td>

          <td colspan="2" style="    vertical-align: bottom;
                  padding-bottom: 9px;">
            <div class="email-title-border"></div>
          </td>

        </tr>

      </table>




    </columns>
  </row>


  <row class="collapse">

    <columns large="6" style="padding-bottom:0"><img
        src="https://static.mservice.io/blogscontents/momo-upload-api-taitro1-190419175309.jpg"
        class="small-float-center" alt=""></columns>

    <columns large="6" style="padding-bottom:0"><img
        src="https://static.mservice.io/blogscontents/momo-upload-api-taitro2-190419175323.jpg"
        class="small-float-center" alt=""></columns>

    <spacer size="20"></spacer>
  </row>



</container>







{{> footer}}