---
layout: momo-app
subject: My Email Templates
---

<container>
  <row class="collapse">
    <columns>
      <center>
        <img src="https://static.mservice.io/blogscontents/momo-upload-api-momo-app-header-190517145510.png"
          alt="image of clever meme that made me chuckle">
      </center>
    </columns>
  </row>
</container>

<container>
  <row>
    <columns>
      <h4 class="email-title">Xin chào xxx</h4>
      <p class="email-txt">Tài khoản Ví MoMo *******168 của Quý khách đã được thêm làm phương thức thanh toán trên
        Google thành công. Hãy làm theo 3 bước sau, để tận hưởng thế giới giải trí Google Play trong tầm tay nhé!</p>
    </columns>
  </row>

  <row>
    <columns large="6" valign="middle">
      <center>
        <img src="https://static.mservice.io/blogscontents/momo-upload-api-step1-190517150333.png" alt="">
        <img src="https://static.mservice.io/blogscontents/momo-upload-api-step2-190517150355.png" alt="">
      </center>

    </columns>
    <columns large="6" valign="middle">
      <center>
        <img src="https://static.mservice.io/blogscontents/momo-upload-api-step3-190517150416.png" alt="">
      </center>

    </columns>
  </row>

</container>

<container>
  <row>
    <columns>
      <div class="email-content"> Dùng Ví MoMo, thanh toán Google siêu dễ, siêu tiện, siêu nhanh!</div>

      <div class="email-line"></div>
    </columns>
  </row>
</container>

<container>
  <row>
    <columns>
      <center>
        <div class="email-khohieu">
          <span>KHÁM PHÁ NGAY</span>
        </div>
      </center>

    </columns>
  </row>
  <spacer size="10"></spacer>
  <row>
    <columns >
      <center>
        <img src="https://static.mservice.io/blogscontents/momo-upload-api-feature1-190516163943.png">
      </center>
      <spacer size="10"></spacer>
      <h5 class="text-center feature-title">GOOGLE ONE</h5>
      <p class="text-center feature-txt">Tăng dung lượng lưu trữ lên đến 200GB cho Gmail, Google Drive, Google Photos
      </p>

    </columns>
    <columns >
      <center>
        <img src="https://static.mservice.io/blogscontents/momo-upload-api-feature2-190516164002.png">
      </center>
      <spacer size="10"></spacer>
      <h5 class="text-center feature-title">GAMES - APPS</h5>
      <p class="text-center feature-txt">Thỏa thích chơi game, tải apps. Thanh toán 1 chạm, tiện lợi & an toàn</p>
    </columns>
    <columns >
      <center>

        <img src="https://static.mservice.io/blogscontents/momo-upload-api-feature3-190516164023.png">
      </center>

      <spacer size="10"></spacer>
      <h5 class="text-center feature-title">GIẢI TRÍ SỐ</h5>
      <p class="text-center feature-txt">Xem phim, đọc sách, nghe nhạc. Thảnh thơi, mọi lúc, mọi nơi</p>
    </columns>
  </row>
</container>


<table class="container float-center">
    <tr class="">
  
      <td class=" small-12 large-12 columns first last" style="background-image: url('https://static.mservice.io/blogscontents/momo-upload-api-email-app-footer-190517145046.png'); background-repeat: no-repeat;
      background-position: center top;   padding-bottom: 8px;  padding-top: 0;">

        <table class="row">
          <tr>
            <td valign="middle" style="vertical-align: middle">
              <img src="https://static.mservice.io/blogscontents/momo-upload-api-email-app-momo-190517145125.png" class="show-for-large" alt="">
            </td>


            <td valign="middle" style="vertical-align: middle; text-align: right">
              <div style="font-size: 12px; padding-right: 30px; color: white;  margin-top: 42px;" class="show-for-large">TẢI
                NGAY VÍ MOMO TẠI
              </div>
            </td>

            <td valign="middle " class=" " style="vertical-align: middle;width: 110px;">
              <a href="https://itunes.apple.com/vn/app/id918751511?utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                style="color:#333332;text-decoration:none; display:block; margin-top: 42px;" target="_blank">

                <img src="https://static.mservice.io/blogscontents/momo-upload-api-appstore-190516140705.png" alt=""
                  style="max-height:30px">
              </a>


            </td>


            <td valign="middle " class=" " style="vertical-align: middle;width: 102px;">

              <a href="https://play.google.com/store/apps/details?id=com.mservice.momotransfer&amp;utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                style="color:#333332;text-decoration:none;display:block; margin-top: 42px;" target="_blank">
                <img src="https://static.mservice.io/blogscontents/momo-upload-api-google-play-190516140727.png" alt=""
                  style="max-height:30px">
              </a>

            </td>
          </tr>
        </table>


      </td>


  </tr>

</table>