// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #f3f3f3 !important;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}




$momo:  #ae2070 ;
$momo2:  #e0078c ;




//TEMPLATE

.email-title{
  font-size: 17px;
  font-weight: bold;
 
}


.blog-title{
  font-size: 17px;
  font-weight: bold;
  color: $momo;

  margin-bottom: 1px;
}

.email-title-border{
  border-bottom: 2px solid $medium-gray;
}
.blog-info{
  font-size: 12.5px;
  margin-bottom: 0
}

.viewmore{
  color: $momo;
  text-align: right;
  font-style: italic;
  font-size: 12.5px;
}

.feature-title{
  font-size: 17px;
  font-weight: bold;
  color: $momo;
  margin-bottom: 1px;
}

.feature-content{
  padding: 15px 15px 0 15px;
}

.row-middle tr{
  vertical-align: middle !important;
}


@media only screen and (max-width: #{$global-breakpoint}) {
  .email-title{
    font-size: 15px;
   
  }
  .blog-title{
    font-size: 15px;

  }
  

  .feature-title{
    font-size: 15px;
   
  }

  .mail-social-txt{
    display: none
  }

  .feature-img{
    padding-top: 15px;
  }

  table.body .columns,
  table.body .column {

    padding-left: $global-gutter/2 !important;
    padding-right: $global-gutter/2 !important;


  }

  @for $i from 1 through $grid-column-count {
    td.small-#{$i}.first,
    th.small-#{$i}.first {
      padding-left: $global-gutter !important;
    }

    td.small-#{$i}.last,
    th.small-#{$i}.last {
      padding-right: $global-gutter !important;
    }
  }
}

