

    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" id="infcb" style="box-sizing: border-box; text-size-adjust: 100%; max-width: 680px; -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px; border-collapse: collapse; table-layout: fixed; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto;">
            <tbody style="box-sizing: border-box; text-size-adjust: 100%;">
              <tr style="box-sizing: border-box; text-size-adjust: 100%;">
                <td style="box-sizing: border-box; text-size-adjust: 100%;">
                  <div id="iqomv" style="box-sizing: border-box; text-size-adjust: 100%; text-align: center; margin-top: 30px; margin-bottom: 0px;">
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" id="i1tek" style="box-sizing: border-box; text-size-adjust: 100%; display: inline; -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px; border-collapse: collapse; table-layout: fixed; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto;">
                      <tbody style="box-sizing: border-box; text-size-adjust: 100%;">
                        <tr style="box-sizing: border-box; text-size-adjust: 100%;">
                          <td id="ifv8h" style="box-sizing: border-box; text-size-adjust: 100%; padding: 0 15px;">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0" id="i15wy" style="box-sizing: border-box; text-size-adjust: 100%; display: inline; -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px; border-collapse: collapse; table-layout: fixed; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto;">
                              <tbody style="box-sizing: border-box; text-size-adjust: 100%;">
                                <tr id="isu3f" style="box-sizing: border-box; text-size-adjust: 100%; font-family: sans-serif;">
                                  <td align="center" valign="middle" width="24" style="box-sizing: border-box; text-size-adjust: 100%;">
                                    <a href="https://www.facebook.com/vimomo" target="_blank" id="ib3vd" style="box-sizing: border-box; text-size-adjust: 100%; text-decoration-line: none; text-decoration-style: initial; text-decoration-color: initial; mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" height="24" width="24" id="insld" style="box-sizing: border-box; text-size-adjust: 100%; display: block; border: 0; height: auto; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic;"></a>
                                  </td>
                                  <td align="left" valign="middle" id="ixsei" style="box-sizing: border-box; text-size-adjust: 100%; vertical-align: middle;">
                                    <a href="https://www.facebook.com/vimomo" target="" class="mail-social-txt" id="itlg1n" style="box-sizing: border-box; text-size-adjust: 100%; text-decoration-line: none; text-decoration-style: initial; text-decoration-color: initial; margin-left: 5px; font-size: 12px; text-decoration: none; color: #656565; mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">Facebook</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td id="ij572u" style="box-sizing: border-box; text-size-adjust: 100%; padding: 0 15px;">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0" id="i6sx8f" style="box-sizing: border-box; text-size-adjust: 100%; display: inline; -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px; border-collapse: collapse; table-layout: fixed; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto;">
                              <tbody style="box-sizing: border-box; text-size-adjust: 100%;">
                                <tr id="i6xjbx" style="box-sizing: border-box; text-size-adjust: 100%; font-family: sans-serif;">
                                  <td align="center" valign="middle" width="24" style="box-sizing: border-box; text-size-adjust: 100%;">
                                    <a href="https://momo.vn/" target="_blank" id="i5im2i" style="box-sizing: border-box; text-size-adjust: 100%; text-decoration-line: none; text-decoration-style: initial; text-decoration-color: initial; mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-link-48.png" height="24" width="24" id="ico2ql" style="box-sizing: border-box; text-size-adjust: 100%; display: block; border: 0; height: auto; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic;"></a>
                                  </td>
                                  <td align="left" valign="middle" id="ivcreq" style="box-sizing: border-box; text-size-adjust: 100%; vertical-align: middle;">
                                    <a href="https://momo.vn/" target="" class="mail-social-txt" id="in406e" style="box-sizing: border-box; text-size-adjust: 100%; text-decoration-line: none; text-decoration-style: initial; text-decoration-color: initial; margin-left: 5px; font-family: Helvetica; font-size: 12px; text-decoration: none; color: #656565; mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">Website</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td id="iwk4h2" style="box-sizing: border-box; text-size-adjust: 100%; padding: 0 15px;">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0" id="ilq8aq" style="box-sizing: border-box; text-size-adjust: 100%; display: inline; -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px; border-collapse: collapse; table-layout: fixed; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto;">
                              <tbody style="box-sizing: border-box; text-size-adjust: 100%;">
                                <tr id="inb40k" style="box-sizing: border-box; text-size-adjust: 100%; font-family: sans-serif;">
                                  <td align="center" valign="middle" width="24" style="box-sizing: border-box; text-size-adjust: 100%;">
                                    <a href="mailto:hotro@momo.vn" target="_blank" id="iebrrg" style="box-sizing: border-box; text-size-adjust: 100%; text-decoration-line: none; text-decoration-style: initial; text-decoration-color: initial; mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-forwardtofriend-48.png" height="24" width="24" id="iezwkk" style="box-sizing: border-box; text-size-adjust: 100%; display: block; border: 0; height: auto; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic;"></a>
                                  </td>
                                  <td align="left" valign="middle" id="ik3fvj" style="box-sizing: border-box; text-size-adjust: 100%; vertical-align: middle;">
                                    <a href="mailto:hotro@momo.vn" target="" class="mail-social-txt" id="i95omr" style="box-sizing: border-box; text-size-adjust: 100%; text-decoration-line: none; text-decoration-style: initial; text-decoration-color: initial; margin-left: 5px; font-family: Helvetica; font-size: 12px; text-decoration: none; color: #656565; mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">Email</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
              <tr style="box-sizing: border-box; text-size-adjust: 100%;">
                <td id="ii1yf2" style="box-sizing: border-box; text-size-adjust: 100%; padding: 20px; font-family: sans-serif; line-height: 18px; text-align: center; color: #757575; font-size: 12px;" align="center">
                  <div id="i97hi5" style="box-sizing: border-box; text-size-adjust: 100%; margin-bottom: 10px;">
                    <strong style="box-sizing: border-box; text-size-adjust: 100%;">CÔNG TY CỔ PHẦN DỊCH VỤ DI ĐỘNG TRỰC TUYẾN (M_SERVICE)</strong>
                  </div>
                  <div id="irrtdy" style="box-sizing: border-box; text-size-adjust: 100%; margin-bottom: 10px;">
                    Địa chỉ: Tầng M, tòa nhà PetroLand - 12 Tân Trào, Q.7, TP HCM
                  </div>
                  <div style="box-sizing: border-box; text-size-adjust: 100%;">
                    Hotline: 1900 54 54 41 - 028 399 171 99
                  </div>
              
                </td>
              </tr>
            </tbody>
          </table>