{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}

<style>

    .starter-template {
        padding: 3rem 1.5rem;
        text-align: center;
    }

</style>
<main role="main" class="container">

    <div class="starter-template ">

        <h1>Danh sách EMAIL LIST </h1>


        <ul class="list-group">
            <li class="list-group-item"><a href="email-momo.html">EMAIL KHUYẾN MÃI TUẦN</a></li>
            <li class="list-group-item"><a href="momo.html">EMAIL THÔNG BÁO</a></li>
    
          </ul>


    </div>

</main><!-- /.container -->


{% endblock %}